# Xcode specific files
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# User-specific settings
*.xcuserdatad

# Scheme files (if they’re user-specific)
*.xcscheme

# Xcode build directory
build/

# Temporary files
*.swp
